body {
    margin: 0;
    padding: 0;
    font-size: 18px;
      font-family: 'Albert Sans';
    color: rgba(50, 70, 59, 0.55);
    font-weight: 400;
    line-height: 30px;
    background: #fffaef
}

html,
body {
    height: 100%;
}

.main-wrapper {
    position: relative;
    overflow-x: hidden
}



a {
    color: #32463B;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

a:hover {
    text-decoration: none;
    color: #32463B;
}

a:focus,
input:focus,
button:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

img {
    max-width: 100%;
    display: block
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #080d10;
    margin-bottom: 12px;
    font-family: 'Bricolage Grotesque 24pt Condensed';
}

h1,
.h1 {
    font-size: 70px;
    line-height: 115%;
}

h2,
.h2 {
    font-size: 60px;
    line-height: 115%;
}

h3,
.h3 {
    font-size: 40px;
    line-height: 115%;
}

h4,
.h4 {
    font-size: 30px;
    line-height: 120%;
}

h5,
.h5 {
    font-size: 24px;
    line-height: 115%;
}

h6,
.h6 {
    font-size: 20px;
    line-height: 115%;
}


p {
    margin-bottom: 20px;
}


p:last-child {
    margin-bottom: 0 !important;
}


button {
    border: none;
    transition: all 0.4s ease 0s;
    background: transparent
}

.section,
section {
    padding: 70px 0;
}

.container {
    max-width: 1200px
}

.container.wide {
    max-width: 1320px;
}
.container.ultra {
    max-width: 1420px;
}

.container.smalls {
    max-width: 1080px
}
.cta-btn {
    position: relative;
    display: inline-flex
}
.cta-btn:after {
    background-image: url(../img/texture.png);
    background-size: cover;
    border: 1px solid #000;
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate3d(6px,6px,0);
    transition: transform .5s cubic-bezier(.19,1,.22,1);
    width: 100%;
    z-index: 1;
    background-color: rgb(255 255 255 / 40%);
    border-radius: 999px;
}
.cta-btn .btn_content{
    position: relative;
    transition: transform .5s cubic-bezier(.19, 1, .22, 1);
    z-index: 2;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 70px;
    text-transform: uppercase;
    padding: 18px 35px;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
}
@media (hover: hover) and (pointer: fine) {
    .cta-btn:hover .btn_content {
        transform: translate3d(6px, 6px, 0);
    }
}

.cta-btn em {
    margin-left: 10px;
    position: relative;
    top: -2px;
        transition: transform .75s cubic-bezier(.19, 1, .22, 1);
}
.cta-btn:hover em {
    transform: translateX(6px);
}
.btn_default {
    background-color: var(--black);
    color: var(--white);
        border-color: #625b5a;
    border-width:0 0 5px
}
.btn_orange .btn_content{
        background-color: #ff7a00;
    color: #fffaef;
}
.btn_white .btn_content{
        background-color: #fffaef;
    color: #080d10;
}
.section-heading{
    font-weight: 700
}
.section-sub-title{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: #ff7a00
}
.text_upper{
    text-transform: uppercase
}
.col_red{
    color: #ff7a00
}
.bg_blk{
      background: #080d10
}
.mb_5{
    margin-bottom: 50px
}
.mt_30{
    margin-top: 30px
}
.pt_100{
    padding-top: 100px
}
.relative{
    position: relative
}
.z-99{
    z-index: 99;
    position: relative
}
/*Write CSS From Here*/
.header-area{
    background: #080d10;
}
.header-inn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0
}
.header-menu ul{
    margin: 0;
    padding: 0;
    list-style: none
}
.header-menu ul li{
    display: inline-block;
    margin-left: 40px
}
.header-menu ul li:first-child{
    margin-left: 0
}
.header-menu a {
    color: #fffaef;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    display: block
}
.header-logo .logo{
    font-family: 'Bricolage Grotesque 24pt Condensed';
    font-weight: 700;
    font-size: 38px;
    color: #fffaef;
    display: block
}
.hero-area{
    padding-bottom: 200px
}
.hero-action li{
    display: inline-block
}

.hero-inner .h2{
    font-size: 90px;
    color: #fffaef;
    text-transform: capitalize
}
.hero-inner p {
    margin-bottom: 40px;
    font-size: 22px;
    color: #9d9d9d;
    font-weight: 600;
}
.hero-inner .group_btn .cta-btn{
    margin: 0 10px
}
.icon-teaser.style1{
    display: flex;
    align-items: center;
    justify-content: center
}
.icon-teaser.style1 .icon{
    margin-right: 20px;
    font-size: 24px;
    color: #fffaef
}
.icon-teaser.style1 .text{
    color: #a8a8a8;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Bricolage Grotesque 24pt Condensed';
}
.icon-teaser-box.style1 {
    margin-top: 40px;
    margin-bottom: 40px
}
.image-bg.style1 {
    position: absolute;
    width: 50%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    left: 0;
    top: 0;
}
.text-box.style1 {
    color: #080d10;
    text-align: center;
    padding: 0 50px;
    position: relative;
    line-height: 150%
}
.text-box.style1 .number{
    position: relative;
    display: inline-block;
    font-size: 50px;
    margin-bottom: 60px;
    line-height: 100px;
    font-family: 'Bricolage Grotesque';
    color: #fffaef;
    font-weight: 600;
    background: #ff7a00;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.text-box.style1 .number::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(8, 13, 16, 0.15);
    left: 0;
    bottom: 5px;
    border-radius: 50%;
    z-index: -1;
}
.text-box.style1::after {
    position: absolute;
    content: "";
    width: 75%;
    height: 1px;
    border-bottom: 4px dashed #ff7a00;
    left: 65%;
    top: 48px;
    z-index: -1;
}
.text-box.style1.end-item{
    position: relative
}
.text-box.style1.end-item::after{
    display: none!important
}
.text-box.style1 .title{
    font-size: 24px;
    font-weight: 600
}
.text-box.style2 .author{
    display: flex;
    align-items: center;
    margin-top: 30px
}
.text-box.style2 .author-img{
    margin-right: 10px
}
.text-box.style2 .author-text .name{
    display: block;;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Bricolage Grotesque 24pt Condensed';
    line-height: 100%
}
.text-box.style2 .author-text .info{
    font-size: 16px;
    font-weight: 500
}
.brand-logo-slider{
    padding: 20px 0
}

.brand-logo-slider img{
    max-width: 200px
}
.video-box.style1{
    position: relative
}
.video-box.style1 .video-btn{
    position: absolute;
    width: 80px;
    height: 80px;
    text-align: center;
    background: #ff7a00;
    color: #fffaef;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 28px;
    line-height: 80px;
    border-radius: 5px
}
.video-area-bg{
    position: relative
}
.video-area-bg::before {
    position: absolute;
    z-index: -1;
    content: "";
    width: 45%;
    height: 100%;
    left: 0;
    top: 0;
    background: #EBF0F3;
}












/*REsponsive*/
@media(max-width:1400px) {}

@media(max-width:991px) {}

@media(max-width:767px) {}

@media(max-width:575px) {}
